@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    background-color:#040D12;
    background: linear-gradient( #040D12 20%, #133131 50%, rgb(32, 66, 47) 90%);
    font-family: 'Poppins', sans-serif;
    color: #a2c4b7;
    margin: 0 17%;
    text-align: justify;
}

.centered {
    text-align: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-right: 70%;
}

.header-text{
    margin: 4% 6% 0% 8%;
}

.header-text:hover{
    color: #62cea4;
}

.top-section{
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
    justify-content: space-around;
}

.my-name {
    word-spacing: 10%;
    font-size: 400%;
    margin-top: -15px;
    margin-bottom: -10px;
}

.profile-pic{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: block;
    border: 4px solid;
    border-color: #5C8374;
    margin: 0 auto;
}

.profile-pic-margin{
    margin-left: 2%;
}

.boxs{
    background-color:#183D3D;
    border: 4px solid;
    border-color: #5C8374;
    border-radius: 7%;
    padding: 10px 10px;
    margin: 0 auto;
}

.button-a{
    border: 1px solid;
    color:#a2c4b7;
    border-radius: 30px;
    padding: 5px 18px;
    border-color: #5C8374;
    background-color: #183D3D;
}

.button-a:hover {
    background-color: #215353;
    color: #62cea4;
}



em {color: #fd0138;}
a {text-decoration: none;}
