@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    background: linear-gradient( #040D12 20%, #133131 50%, rgb(32, 66, 47) 90%);
    font-family: 'Poppins', sans-serif;
    color: #a2c4b7;
    text-align: justify;
}

nav{
    position: fixed;
    inset: 1rem 3rem auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, 2.5vw, 4rem);
    background-color: rgba(24, 61, 61, 0.8);
    border-radius: 0.5rem;
}

nav a{
    color: #a2c4b7;
    font-weight: 600;
}

nav a:hover{ color: #62cea4;}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centered {
    text-align: center;
}

.top-section{
    display: flex;
    justify-content: space-around;
}

.mid-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.my-name {
    word-spacing: 10%;
    font-size: 400%;
    margin-top: -15px;
    margin-bottom: -10px;
}

.profile-pic{
    width: 350px;
    height: 350px;
    border-radius: 10%;
    display: block;
    border: 4px solid;
    border-color: #5C8374;
    margin: 0 50px;
}


.flex-boxs {
    background-color: #183D3D;
    border: 4px solid;
    border-color: #5C8374;
    border-radius: 5%;
    gap: 10px;
}

.boxs{
    background-color:#183D3D;
    border: 4px solid;
    border-color: #5C8374;
    border-radius: 7%;
    padding: 10px 10px;
    margin: 0 auto;
}

.button-a{
    border: 1px solid;
    color:#a2c4b7;
    border-radius: 30px;
    padding: 5px 18px;
    border-color: #5C8374;
    background-color: #183D3D;
}

.button-a:hover {
    background-color: #215353;
    color: #62cea4;
}

em {color: #fd0138;}
a {text-decoration: none;}
